* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-image: linear-gradient(
    to top right,
    rgba(100, 255, 100, 0.8),
    rgb(255, 255, 255),
    rgba(100, 100, 255, 0.8)
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: rgba(0, 0, 0, 0.2);
  min-width: 20rem;
  min-height: 30rem;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block input {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 0.25rem 0.325rem;
}
.block input:focus {
  outline: none;
}
.options {
  margin: 5px;
}
.container section,
.container button {
  margin: 5px;
}
.gpa-title,
.message {
  font-weight: 400;
}
.btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;

  transition: all 0.4s linear;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.hidden {
  display: none;
}
select {
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
